* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: "Roboto", sans-serif;
}
.logo{
    width: 219px;
    height: 65px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 0px 100px;
}

.p-10{
  padding: 10px;
}

.search-bar{
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
}
.search{
    border: 1px solid black;
    padding: 4px 6px;
    width: 25%;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.sign{
    display: flex;
    align-items: center;
    gap: 10px;
}
.signin{
    font-size: 14px;
    font-weight: 600;
}
.signup{
    font-size: 14px;
    font-weight: 600;
}
.basket{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}
.right{
    display: flex;
    gap: 20px;
}

main {
    padding: 0 20px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;

  position: relative;
  margin: auto;
}

.loto{
  display: flex;
  gap: 55.7px;
}

/* Hide the images by default */
.mySlides, .myLogos {
  display: none;
}

.mySlides img, .myLogos img{
    height: 500px;
    object-fit: cover;
    object-position: top;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.logo-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 86px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.myLogoSlides{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.myLogoSlides:hover .logo-circle{
  transition: 0.3s;
  transform: rotate(360deg);
}

.dad-main{
  display: flex;
  padding: 0px 155px;
}

.main-left{
  width: 25%;
}

.main-right{
  width: 75%;
  background: white;
  padding: 10px 0px 0px 20px;
}

.owl-theme .owl-nav{
  position: absolute;
  top: -65px;
  right: 20px;
  font-size: 40px;
}

.item img{
  height: 100%;
}

.item{
  margin-top: 10px;
}

.active{
  background: transparent;
}

.item h4{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 15px;
}

.item h5{
  color: red;
}

.best-price{
  margin-top: 34px;
  color: white;
  background-color: #f91111;
  border-radius: 10px;
}

.best-price h1{ 
  padding-left: 10px;
  padding-top: 20px;
}

.item2 h4{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}

.item2 h5{
  color: red;
}

.item2{
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
}

h6{
  color: black;
  font-weight: 500;
}

.blog{
  display: flex;
  padding: 50px 155px 0px;
}

.blog-left{
  width: 25%;
  padding: 10px 0px;
  background-color: black;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  align-self: start;
}

.blog-left h1{
  font-weight: 400;
}

.blog-left-1{
  display: flex;
  padding-top: 10px;
  margin: 8px 10px 0px 10px;
  border-radius: 10px;
  gap: 10px;
  flex-direction: column;
}

.s1{
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  height: 80px;
  gap: 6px;
}

.s2 h3{
  font-weight: 500;
}

.s2 h5{
  font-weight: 500;
  color: blue;
}

.s2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.blog-full{
  display: flex;
  gap: 10px;
}

.blog-right{
  width: 75%;
  padding-left: 16px;
}

.blog-right h1{
  font-weight: 900;
}

.blog-right-1 h5{
  color: grey;
  padding-top: 4px;
}

.blog-right-1 p{
  color: grey;
}

.blog-right-1{
  width: 50%;
  padding-top: 20px;
}

.blog-right-2{
  width: 50%;
}

.blog-right-item{
  display: flex;
  gap: 8px;
}

.img-item{
  margin-top: 20px;
  border-radius: 10px;
  align-self: start;
}

.word-item{
  padding-top: 20px;
}

.blog-right-2 h5{
  color: grey;
  padding-top: 4px;
}

.blog-right-2 p{
  color: grey;
}

.something-else{
  padding: 50px 155px 0px 155px;
}

.service{
  display: flex;
  padding: 100px 155px 0px 155px;
  gap: 81.8px;
}

.service-content{
  display: flex;
  align-items: center;
  gap: 10px;
}

.follow{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  gap: 35px;
}

.footer{
  display: flex;
  padding: 40px 155px 0px 155px;
}

.a{
  width: 25%;
  background: red;
  padding: 30px 0px 0px 10px;
}

.a p{
  padding-top: 20px;
  font-size: 16px;
}

.b{
  width: 25%;
  background: blue;
  padding: 30px 0px 0px 10px;
}

.b p{
  padding-top: 20px;
  font-size: 16px;
}

.c{
  width: 25%;
  background: orange;
  padding: 30px 0px 0px 10px;
}

.c p{
  padding-top: 20px;
}


.d{
  width: 25%;
  background: green;
  padding: 30px 0px 0px 10px;
}

.d p{
  padding-top: 20px;
}